<html>

    <head>
        <script src="../angular.min.js"></script>
    </head>
    
    <body>
    
        <h1>Sample HTML DOM tutorial</h1>
        
        <div ng-app="myapp" ng-controller="mycontroller">
        
            <table border="0">
                
                <tr>
                    <td><input type="checkbox" ng-model="enableDisableButton">Disable Button</td>
                    <td><button ng-disabled="enableDisableButton">Click Me!</button></td>
                </tr>
                
                <tr>
                    <td><input type="checkbox" ng-model="showHide1">Show Button</td>
                    <td><button ng-show="shouldBeHidden()">Click Me!</button></td>
                </tr>
                
                <tr>
                    <td><input type="checkbox" ng-model="showHide2">Hide Button</td>
                    <td><button ng-hide="showHide2">Click Me!</button></td>
                </tr>
                
                <tr>
                    <td><button ng-click="increment()">Click me counter</button></td>
                    <td>Number of clicks: {{clicks}}</td>
                </tr>
                
            </table>
            
        </div>
    
    </body>
    
    <script>
        var theapp = angular.module('myapp', []);
        
        theapp.controller('mycontroller', function($scope)
        {
            $scope.shouldBeHidden = function()
            {
                var theValue = $scope.showHide1;
                return theValue;
            };
            
            $scope.clicks = -3.14;
            
            $scope.increment = function()
            {
                $scope.clicks += 1;
            };
        });
    </script>

</html>

<!-- https://www.tutorialspoint.com/angularjs/angularjs_html_dom.htm -->