<!--https://www.tutorialspoint.com/angularjs/angularjs_mvc_architecture.htm-->

<!--https://www.tutorialspoint.com/angularjs/angularjs_first_application.htm-->

<!-- https://www.tutorialspoint.com/angularjs/angularjs_directives.htm -->

<html>

    <head>
        <script src="../angular.min.js"></script>
    </head>
    
    <body>
        
        <h1>Sample application</h1>
        
        <div ng-app="" ng-init="countries=[{locale:'en',name:'US'},{locale:'en', name:'UK'}]">

        
            <p>Enter your Name: <input type="text" ng-model="yourname"></p>
            <p>Hello <span ng-bind="yourname"></span></p>
            <p>List of Countries with locale:</p>
            <div ng-repeat="c in countries">
                <p>{{c.name}}</p>
                <p>{{c.locale}}</p>
                <hr />
            </div>
        
        </div>

    </body>
    

</html>