<html>

    <head>
        <script src="../angular.min.js"></script>
    </head>
    
    <body>
    
        <h1>Sample Application</h1>
        
        <div ng-app="" ng-init="quantity=1; cost=30; student={firstname:'Mahesh',lastname:'Parashar',rollno:101};marks=[1,2,3,4,5]">
            <p>Hello {{student.firstname}} {{student.lastname}}!</p>
            <p>Expenses on books: {{quantity*cost}}</p>
            <p>Roll number: {{student.rollno}}</p>
            <p>Marks(Math): {{marks[3]}}</p>
        </div>
    
    </body>

</html>