<!doctype html>
<html>
    
    <head>
        <script src="../angular.min.js"></script>
    </head>
    
    <body ng-app="myapp">
        
        <div ng-controller="HelloController">
            <h2>Welcome {{helloTo.title}} to the world of Giulio</h2>
        </div>
        
        <script>
            angular.module("myapp", [])
            .controller("HelloController", function($scope) {
                $scope.helloTo =
                {
                    title: "AngularJS"
                };
            });
        </script>
        
    </body>
    
</html>

<!-- from https://www.tutorialspoint.com/angularjs/angularjs_environment.htm -->