<html>

    <head>
        <script src="../angular.min.js"></script>
    </head>
    
    <body>
        <h1>About controllers</h1>
        
        <div ng-app="myapp" ng-controller="mycontroller">
            <p>Enter first name: <input type="text" ng-model="student.firstname"></p>
            <p>Enter last name: <input type="text" ng-model="student.lastname"></p>
            <p>Hello {{student.fullName()}}</p>
            <p>Expenses on books: {{quantity*price}}</p>
        </div>
    </body>
    
    <script>
        var myapp = angular.module("myapp", []);
        
        myapp.controller('mycontroller', function($scope)
        {
            $scope.student =
            {
                firstname: 'Giulio',
                lastname: 'Jiang',
                fullName: function()
                {
                    var studentobj = $scope.student;
                    return studentobj.firstname + ' ' + studentobj.lastname;
                }
            }
            
            $scope.quantity = 12;
            $scope.price = 2;
        });
    </script>

</html>

<!-- https://www.tutorialspoint.com/angularjs/angularjs_controllers.htm -->